body {
    #wpadminbar {
        .quicklinks {
            .menupop.hover {
                a {
                    &:focus {
                        color: var(--horizon-admin-main-color-light)!important;
                    }
                }
            }
        }

        &:not(.mobile) {
            .ab-top-menu {
                & > li {
                    &:hover, &.hover {
                        & > .ab-item {
                            color: var(--horizon-admin-main-color-light);

                            &:before {
                                color: var(--horizon-admin-main-color-light);
                            }
                        }
                    }

                    & > .ab-item {
                        &:focus {
                            color: var(--horizon-admin-main-color-light)!important;

                            &:before {
                                color: var(--horizon-admin-main-color-light)!important;
                            }
                        }
                    }
                }
            }

            & > #wp-toolbar {
                li {
                    & > .ab-item {
                        i {
                            background-color: #dedede;
                        }
                    }
                    &:hover, &.hover {
                        span {
                            &.ab-label {
                                color: var(--horizon-admin-main-color-light);
                            }
                        }

                        .ab-icon {
                            &:before {
                                color: var(--horizon-admin-main-color-light);
                            }
                        }

                        & > .ab-item {
                            color: var(--horizon-admin-main-color-light);

                            i {
                                background-color: var(--horizon-admin-main-color-light);
                            }
                        }
                    }
                }
            }
        }
    }

    #wp-admin-bar-rank-math {
        &:hover {
            .rank-math-icon {
                svg {
                    fill: var(--horizon-admin-main-color-light);
                }
            }
        }
    }
}